doctype
   
html

   include ./includes/head.jade
      
   body
      
      .loading-wrapper
         
         span.pulse-scale カリム   
      
      main.pageWrapper
      
         include ./includes/header.jade
         include ./includes/about.jade
         include ./includes/techs.jade
         include ./includes/features.jade
         include ./includes/setup.jade
         include ./includes/share.jade
         include ./includes/footer.jade
      
      
      script
         include ../js/google-analytics.js
         
      script(src='/assets/js/app.js')
