@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* http://prismjs.com/download.html?themes=prism-twilight&languages=markup+css+clike+javascript+jade+sass */
/**
 * prism.js Twilight theme
 * Based (more or less) on the Twilight theme originally of Textmate fame.
 * @author Remy Bach
 */
code[class*="language-"],
pre[class*="language-"] {
  color: white;
  direction: ltr;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  text-shadow: 0 -.1em .2em black;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background: #141414;
  /* #141414 */
}

/* Code blocks */
pre[class*="language-"] {
  border-radius: .5em;
  border: 0.3em solid #545454;
  /* #282A2B */
  box-shadow: 1px 1px .5em black inset;
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
}

pre[class*="language-"]::-moz-selection {
  /* Safari */
  background: #27292a;
  /* #282A2B */
}

pre[class*="language-"]::selection {
  /* Safari */
  background: #27292a;
  /* #282A2B */
}

pre[class*="language-"]::-moz-selection {
  /* Firefox */
  background: #27292a;
  /* #282A2B */
}

pre[class*="language-"]::selection {
  /* Firefox */
  background: #27292a;
  /* #282A2B */
}

/* Text Selection colour */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: rgba(237, 237, 237, 0.15);
  /* #EDEDED */
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: rgba(237, 237, 237, 0.15);
  /* #EDEDED */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  border: 0.13em solid #545454;
  /* #545454 */
  box-shadow: 1px 1px .3em -.1em black inset;
  padding: .15em .2em .05em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #787878;
  /* #777777 */
}

.token.punctuation {
  opacity: .7;
}

.namespace {
  opacity: .7;
}

.token.tag,
.token.boolean,
.token.number,
.token.deleted {
  color: #cf694a;
  /* #CF6A4C */
}

.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
  color: #f9ee9a;
  /* #F9EE98 */
}

.token.attr-name,
.token.attr-value,
.token.string,
.token.char,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.inserted {
  color: #919e6b;
  /* #8F9D6A */
}

.token.atrule {
  color: #7386a5;
  /* #7587A6 */
}

.token.regex,
.token.important {
  color: #e9c163;
  /* #E9C062 */
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

/* Markup */
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation {
  color: #ad895c;
  /* #AC885B */
}

/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
  position: relative;
  z-index: 1;
}

.line-highlight {
  /* #545454 */
  /* #545454 */
  background: -webkit-linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  /* #545454 */
  background: rgba(84, 84, 84, 0.25);
  /* #545454 */
  background: linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  /* #545454 */
  border-bottom: 1px dashed #545454;
  /* #545454 */
  border-top: 1px dashed #545454;
  /* #545454 */
  left: 0;
  line-height: inherit;
  margin-top: 0.75em;
  /* Same as .prism’s padding-top */
  padding: inherit 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  white-space: pre;
  z-index: 0;
}

.line-highlight:before,
.line-highlight[data-end]:after {
  background-color: #8794a6;
  /* #8794A6 */
  border-radius: 999px;
  box-shadow: 0 1px white;
  color: #f5f2f0;
  /* #F5F2F0 */
  content: attr(data-start);
  font: bold 65%/1.5 sans-serif;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  position: absolute;
  text-align: center;
  text-shadow: none;
  top: .4em;
  vertical-align: .3em;
}

.line-highlight[data-end]:after {
  bottom: .4em;
  content: attr(data-end);
  top: auto;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale3d(0.6, 0.6, 1);
            transform: scale3d(0.6, 0.6, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale3d(0.6, 0.6, 1);
            transform: scale3d(0.6, 0.6, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fade-in-down {
  -webkit-animation: fadeInDown 1s linear both;
  animation: fadeInDown 1s linear both;
  visibility: visible !important;
}

@-webkit-keyframes fadeInLeft {
  0% {
    -webkit-transform: translate3d(-30px, 0, 0);
            transform: translate3d(-30px, 0, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    -webkit-transform: translate3d(-30px, 0, 0);
            transform: translate3d(-30px, 0, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fade-in-left {
  -webkit-animation: fadeInLeft 1s linear both;
  animation: fadeInLeft 1s linear both;
  visibility: visible !important;
}

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    -webkit-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fade-in-right {
  -webkit-animation: fadeInRight 1s linear both;
  animation: fadeInRight 1s linear both;
  visibility: visible !important;
}

@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.45;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.45;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.fade-in-up {
  -webkit-animation: fadeInUp 1s linear both;
  animation: fadeInUp 1s linear both;
  visibility: visible !important;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  15%, 45%, 75% {
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0);
  }
  30%, 60% {
    -webkit-transform: translate3d(-20px, 0, 0);
            transform: translate3d(-20px, 0, 0);
  }
}
@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  15%, 45%, 75% {
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0);
  }
  30%, 60% {
    -webkit-transform: translate3d(-20px, 0, 0);
            transform: translate3d(-20px, 0, 0);
  }
}
.shake {
  -webkit-animation: shake 1s ease-out both;
  animation: shake 1s ease-out both;
  visibility: visible !important;
}

@-webkit-keyframes pulseScale {
  0%, 100% {
    opacity: 0.6;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2);
  }
}
@keyframes pulseScale {
  0%, 100% {
    opacity: 0.6;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2);
  }
}
.pulse-scale {
  -webkit-animation: pulseScale 1s infinite ease-out both;
  animation: pulseScale 1s infinite ease-out both;
  visibility: visible !important;
}

@-webkit-keyframes fadeInScaleBounce {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  40% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2);
  }
  60% {
    -webkit-transform: scale3d(0.85, 0.85, 1);
            transform: scale3d(0.85, 0.85, 1);
  }
  80% {
    -webkit-transform: scale3d(1.04, 1.04, 1.04);
            transform: scale3d(1.04, 1.04, 1.04);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1, 1);
            transform: scale(1, 1, 1);
  }
}
@keyframes fadeInScaleBounce {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  40% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2);
  }
  60% {
    -webkit-transform: scale3d(0.85, 0.85, 1);
            transform: scale3d(0.85, 0.85, 1);
  }
  80% {
    -webkit-transform: scale3d(1.04, 1.04, 1.04);
            transform: scale3d(1.04, 1.04, 1.04);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1, 1);
            transform: scale(1, 1, 1);
  }
}
.fade-in-scale-bounce {
  -webkit-animation: fadeInScaleBounce 1s ease-out both;
  animation: fadeInScaleBounce 1s ease-out both;
  visibility: visible !important;
}

@-webkit-keyframes flipTop {
  0% {
    -webkit-transform: perspective(400deg);
            transform: perspective(400deg);
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400deg);
            transform: perspective(400deg);
    -webkit-transform: rotate3d(1, 0, 0, -30deg);
            transform: rotate3d(1, 0, 0, -30deg);
  }
  60% {
    -webkit-transform: perspective(400deg);
            transform: perspective(400deg);
    -webkit-transform: rotate3d(1, 0, 0, 15deg);
            transform: rotate3d(1, 0, 0, 15deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400deg);
            transform: perspective(400deg);
    -webkit-transform: rotate3d(1, 0, 0, -10deg);
            transform: rotate3d(1, 0, 0, -10deg);
  }
  100% {
    -webkit-transform: perspective(400deg);
            transform: perspective(400deg);
  }
}
@keyframes flipTop {
  0% {
    -webkit-transform: perspective(400deg);
            transform: perspective(400deg);
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400deg);
            transform: perspective(400deg);
    -webkit-transform: rotate3d(1, 0, 0, -30deg);
            transform: rotate3d(1, 0, 0, -30deg);
  }
  60% {
    -webkit-transform: perspective(400deg);
            transform: perspective(400deg);
    -webkit-transform: rotate3d(1, 0, 0, 15deg);
            transform: rotate3d(1, 0, 0, 15deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400deg);
            transform: perspective(400deg);
    -webkit-transform: rotate3d(1, 0, 0, -10deg);
            transform: rotate3d(1, 0, 0, -10deg);
  }
  100% {
    -webkit-transform: perspective(400deg);
            transform: perspective(400deg);
  }
}
.flip-top {
  -webkit-animation: flipTop 1s ease-out both;
  animation: flipTop 1s ease-out both;
  visibility: visible !important;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.spin-clockwise {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  visibility: visible !important;
}

.spin-reverse {
  -webkit-animation: spin 1s infinite reverse linear;
  animation: spin 1s infinite reverse linear;
  visibility: visible !important;
}

@-webkit-keyframes bounceInDown {
  0% {
    -webkit-transform: translate3d(0, -700px, 0);
            transform: translate3d(0, -700px, 0);
    opacity: 0;
  }
  30%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  56% {
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  73% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  87% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}
@keyframes bounceInDown {
  0% {
    -webkit-transform: translate3d(0, -700px, 0);
            transform: translate3d(0, -700px, 0);
    opacity: 0;
  }
  30%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  56% {
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  73% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  87% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}
.bounce-in-down {
  -webkit-animation: bounceInDown 1s ease-out both;
  animation: bounceInDown 1s ease-out both;
  visibility: visible !important;
}

@-webkit-keyframes bounceInUp {
  0% {
    -webkit-transform: translate3d(0, 70px, 0);
            transform: translate3d(0, 70px, 0);
    opacity: 0;
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  56% {
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  73% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  87% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  0% {
    -webkit-transform: translate3d(0, 70px, 0);
            transform: translate3d(0, 70px, 0);
    opacity: 0;
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  56% {
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  73% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  87% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.bounce-in-up {
  -webkit-animation: bounceInUp 1s linear both;
  animation: bounceInUp 1s linear both;
  visibility: visible !important;
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-70px, 0, 0);
            transform: translate3d(-70px, 0, 0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0);
  }
  56% {
    -webkit-transform: translate3d(-12px, 0, 0);
            transform: translate3d(-12px, 0, 0);
  }
  73% {
    -webkit-transform: translate3d(8px, 0, 0);
            transform: translate3d(8px, 0, 0);
  }
  87% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-70px, 0, 0);
            transform: translate3d(-70px, 0, 0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0);
  }
  56% {
    -webkit-transform: translate3d(-12px, 0, 0);
            transform: translate3d(-12px, 0, 0);
  }
  73% {
    -webkit-transform: translate3d(8px, 0, 0);
            transform: translate3d(8px, 0, 0);
  }
  87% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.bounce-in-left {
  -webkit-animation: bounceInLeft 1s ease-in-out both;
  animation: bounceInLeft 1s ease-in-out both;
  visibility: visible !important;
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(70px, 0, 0);
            transform: translate3d(70px, 0, 0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
            transform: translate3d(-20px, 0, 0);
  }
  56% {
    -webkit-transform: translate3d(12px, 0, 0);
            transform: translate3d(12px, 0, 0);
  }
  73% {
    -webkit-transform: translate3d(-8px, 0, 0);
            transform: translate3d(-8px, 0, 0);
  }
  87% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(70px, 0, 0);
            transform: translate3d(70px, 0, 0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
            transform: translate3d(-20px, 0, 0);
  }
  56% {
    -webkit-transform: translate3d(12px, 0, 0);
            transform: translate3d(12px, 0, 0);
  }
  73% {
    -webkit-transform: translate3d(-8px, 0, 0);
            transform: translate3d(-8px, 0, 0);
  }
  87% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.bounce-in-right {
  -webkit-animation: bounceInRight 1s ease-in-out both;
  animation: bounceInRight 1s ease-in-out both;
  visibility: visible !important;
}

@-webkit-keyframes bounceInScale {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
  }
  30% {
    -webkit-transform: scale3d(1.25, 1.25, 1);
            transform: scale3d(1.25, 1.25, 1);
  }
  56% {
    -webkit-transform: scale3d(0.75, 0.75, 1);
            transform: scale3d(0.75, 0.75, 1);
    opacity: 1;
  }
  73% {
    -webkit-transform: scale3d(1.15, 1.15, 1);
            transform: scale3d(1.15, 1.15, 1);
  }
  87% {
    -webkit-transform: scale3d(0.87, 0.87, 1);
            transform: scale3d(0.87, 0.87, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceInScale {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
  }
  30% {
    -webkit-transform: scale3d(1.25, 1.25, 1);
            transform: scale3d(1.25, 1.25, 1);
  }
  56% {
    -webkit-transform: scale3d(0.75, 0.75, 1);
            transform: scale3d(0.75, 0.75, 1);
    opacity: 1;
  }
  73% {
    -webkit-transform: scale3d(1.15, 1.15, 1);
            transform: scale3d(1.15, 1.15, 1);
  }
  87% {
    -webkit-transform: scale3d(0.87, 0.87, 1);
            transform: scale3d(0.87, 0.87, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.bounce-in-scale {
  -webkit-animation: bounceInScale 1s ease-out both;
  animation: bounceInScale 1s ease-out both;
  visibility: visible !important;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0, 0, 0);
            transform: scale(0, 0, 0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0, 0, 0);
            transform: scale(0, 0, 0);
  }
}
.fade-out {
  -webkit-animation: fadeOut 1s ease-out both;
  animation: fadeOut 1s ease-out both;
  visibility: visible !important;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -55px, 0);
            transform: translate3d(0, -55px, 0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -55px, 0);
            transform: translate3d(0, -55px, 0);
  }
}
.fade-out-up {
  -webkit-animation: fadeOutUp 1s ease-out both;
  animation: fadeOutUp 1s ease-out both;
  visibility: visible !important;
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-55px, 0, 0);
            transform: translate3d(-55px, 0, 0);
  }
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-55px, 0, 0);
            transform: translate3d(-55px, 0, 0);
  }
}
.fade-out-left {
  -webkit-animation: fadeOutLeft 1s linear both;
  animation: fadeOutLeft 1s linear both;
  visibility: visible !important;
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(55px, 0, 0);
            transform: translate3d(55px, 0, 0);
  }
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(55px, 0, 0);
            transform: translate3d(55px, 0, 0);
  }
}
.fade-out-right {
  -webkit-animation: fadeOutRight 1s linear both;
  animation: fadeOutRight 1s linear both;
  visibility: visible !important;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 55px, 0);
            transform: translate3d(0, 55px, 0);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 55px, 0);
            transform: translate3d(0, 55px, 0);
  }
}
.fade-out-down {
  -webkit-animation: fadeOutDown 1s linear both;
  animation: fadeOutDown 1s linear both;
  visibility: visible !important;
}

@-webkit-keyframes gravitateY {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes gravitateY {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.gravitate-y {
  -webkit-animation: gravitateY 1s infinite linear;
  animation: gravitateY 1s infinite linear;
  visibility: visible !important;
}

@-webkit-keyframes vanishIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5);
    -webkit-filter: blur(30px);
            filter: blur(30px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes vanishIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5);
    -webkit-filter: blur(30px);
            filter: blur(30px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
.vanish-in {
  -webkit-animation: vanishIn .65s ease-out both;
  animation: vanishIn .65s ease-out both;
  visibility: visible !important;
}

@-webkit-keyframes vanishOut {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale3d(2, 2, 2);
            transform: scale3d(2, 2, 2);
    -webkit-filter: blur(30px);
            filter: blur(30px);
    opacity: 0;
  }
}
@keyframes vanishOut {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale3d(2, 2, 2);
            transform: scale3d(2, 2, 2);
    -webkit-filter: blur(30px);
            filter: blur(30px);
    opacity: 0;
  }
}
.vanish-out {
  -webkit-animation: vanishOut 1s ease-out both;
  animation: vanishOut 1s ease-out both;
  visibility: visible !important;
}

@-webkit-keyframes expandX {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.5, 1, 1);
            transform: scale3d(0.5, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes expandX {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.5, 1, 1);
            transform: scale3d(0.5, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.expand-left {
  -webkit-animation: expandX 1s linear both;
  animation: expandX 1s linear both;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  visibility: visible !important;
}

.expand-right {
  -webkit-animation: expandX 1s linear both;
  animation: expandX 1s linear both;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  visibility: visible !important;
}

@-webkit-keyframes expandBounceX {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  53% {
    -webkit-transform: scale3d(0.91, 1, 1);
            transform: scale3d(0.91, 1, 1);
  }
  64% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  87% {
    -webkit-transform: scale3d(0.96, 1, 1);
            transform: scale3d(0.96, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes expandBounceX {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  53% {
    -webkit-transform: scale3d(0.91, 1, 1);
            transform: scale3d(0.91, 1, 1);
  }
  64% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  87% {
    -webkit-transform: scale3d(0.96, 1, 1);
            transform: scale3d(0.96, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.expand-bounce-right {
  -webkit-animation: expandBounceX 1s linear both;
  animation: expandBounceX 1s linear both;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  visibility: visible !important;
}

.expand-bounce-left {
  -webkit-animation: expandBounceX 1s linear both;
  animation: expandBounceX 1s linear both;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  visibility: visible !important;
}

@-webkit-keyframes expandY {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.5, 1);
            transform: scale3d(1, 0.5, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes expandY {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.5, 1);
            transform: scale3d(1, 0.5, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.expand-top {
  -webkit-animation: expandY 1s linear both;
  animation: expandY 1s linear both;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  visibility: visible !important;
}

.expand-bottom {
  -webkit-animation: expandY 1s linear both;
  animation: expandY 1s linear both;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  visibility: visible !important;
}

@-webkit-keyframes elastico {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  20% {
    -webkit-transform: scale3d(1.4, 1, 1);
            transform: scale3d(1.4, 1, 1);
  }
  43% {
    -webkit-transform: scale3d(0.81, 1, 1);
            transform: scale3d(0.81, 1, 1);
    opacity: 1;
  }
  57% {
    -webkit-transform: scale3d(1.2, 1, 1);
            transform: scale3d(1.2, 1, 1);
  }
  69% {
    -webkit-transform: scale3d(0.89, 1, 1);
            transform: scale3d(0.89, 1, 1);
  }
  77% {
    -webkit-transform: scale3d(1.1, 1, 1);
            transform: scale3d(1.1, 1, 1);
  }
  89% {
    -webkit-transform: scale3d(0.91, 1, 1);
            transform: scale3d(0.91, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes elastico {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  20% {
    -webkit-transform: scale3d(1.4, 1, 1);
            transform: scale3d(1.4, 1, 1);
  }
  43% {
    -webkit-transform: scale3d(0.81, 1, 1);
            transform: scale3d(0.81, 1, 1);
    opacity: 1;
  }
  57% {
    -webkit-transform: scale3d(1.2, 1, 1);
            transform: scale3d(1.2, 1, 1);
  }
  69% {
    -webkit-transform: scale3d(0.89, 1, 1);
            transform: scale3d(0.89, 1, 1);
  }
  77% {
    -webkit-transform: scale3d(1.1, 1, 1);
            transform: scale3d(1.1, 1, 1);
  }
  89% {
    -webkit-transform: scale3d(0.91, 1, 1);
            transform: scale3d(0.91, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.elastico {
  -webkit-animation: elastico 1s linear both;
  animation: elastico 1s linear both;
  visibility: visible !important;
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(1.6, 1.4, 1.6);
            transform: scale3d(1.6, 1.4, 1.6);
  }
  43% {
    -webkit-transform: scale3d(0.81, 0.96, 0.81);
            transform: scale3d(0.81, 0.96, 0.81);
  }
  57% {
    -webkit-transform: scale3d(1.4, 1.2, 1.4);
            transform: scale3d(1.4, 1.2, 1.4);
  }
  69% {
    -webkit-transform: scale3d(0.89, 0.97, 0.89);
            transform: scale3d(0.89, 0.97, 0.89);
  }
  77% {
    -webkit-transform: scale3d(1.2, 1.1, 1.2);
            transform: scale3d(1.2, 1.1, 1.2);
  }
  89% {
    -webkit-transform: scale3d(0.91, 0.98, 0.91);
            transform: scale3d(0.91, 0.98, 0.91);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes wobble {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(1.6, 1.4, 1.6);
            transform: scale3d(1.6, 1.4, 1.6);
  }
  43% {
    -webkit-transform: scale3d(0.81, 0.96, 0.81);
            transform: scale3d(0.81, 0.96, 0.81);
  }
  57% {
    -webkit-transform: scale3d(1.4, 1.2, 1.4);
            transform: scale3d(1.4, 1.2, 1.4);
  }
  69% {
    -webkit-transform: scale3d(0.89, 0.97, 0.89);
            transform: scale3d(0.89, 0.97, 0.89);
  }
  77% {
    -webkit-transform: scale3d(1.2, 1.1, 1.2);
            transform: scale3d(1.2, 1.1, 1.2);
  }
  89% {
    -webkit-transform: scale3d(0.91, 0.98, 0.91);
            transform: scale3d(0.91, 0.98, 0.91);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.wobble {
  -webkit-animation: wobble 1s linear both;
  animation: wobble 1s linear both;
  visibility: visible !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block;
}

body {
  margin: 15px;
  overflow-x: hidden;
}

section {
  padding: 130px 0;
}

pre[class*='language-'] {
  border: none;
  margin: 0;
  border-radius: 0 0 0.4em 0.4em;
}

code {
  display: block;
  border: none;
}

div > code[class*="language-"] {
  border: none;
  box-shadow: none;
  border-radius: none;
}

h1 {
  font-size: 2em;
}
h1.super-header {
  font-size: 3em;
}

p {
  font-size: 18px;
}

.header {
  background-color: #22264B;
  color: #fff;
  height: 95vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .wrapper {
  text-align: center;
}
.header .wrapper .mainTitle {
  font-size: 5em;
  margin-bottom: 25px;
}
.header .wrapper .strapline {
  font-size: 2.5em;
  margin-bottom: 55px;
}
.header .wrapper .buttons {
  width: 65%;
  margin: 0 auto;
}
.header .wrapper .buttons a {
  font-size: 1.12em;
  height: 57px;
  margin-right: 25px;
  padding: 15px 30px;
  border: 2px solid #3a4180;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.19s ease;
          transition: all 0.19s ease;
}
.header .wrapper .buttons a span {
  display: block;
  -webkit-transition: all 0.29s ease-in-out;
          transition: all 0.29s ease-in-out;
}
.header .wrapper .buttons a span.cta {
  -webkit-transform: translateY(85%);
          transform: translateY(85%);
}
.header .wrapper .buttons a span.cta svg {
  height: 25px;
  width: 25px;
}
.header .wrapper .buttons a:hover {
  border: 2px solid transparent;
}
.header .wrapper .buttons a:hover span.text {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}
.header .wrapper .buttons a:hover span.cta {
  -webkit-transform: translateY(-85%);
          transform: translateY(-85%);
}
.header .wrapper .buttons a:hover.downloadBtn {
  background-color: #B56969;
}
.header .wrapper .buttons a:hover.downloadBtn span.cta svg path {
  fill: #fff;
}
.header .wrapper .buttons a:hover.viewOnSite {
  background-color: #fff;
}
.header .wrapper .buttons a:hover.viewOnSite span.cta svg path {
  fill: #161414;
}
.header .wrapper .buttons a:last-child {
  margin-right: 0;
}
@media screen and (max-width: 910px) {
  .header .wrapper {
    max-width: 45em;
  }
  .header .wrapper .mainTitle {
    font-size: 4.2em;
  }
  .header .wrapper .strapline {
    font-size: 2em;
  }
}

.wrapper {
  max-width: 63em;
  margin-left: auto;
  margin-right: auto;
}

.wrapper--slim {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
}

.wrapper--large {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #22264B;
  padding: 50px 0;
  text-align: center;
  color: #fff;
}
.footer .logo {
  font-size: 2.5em;
  margin-bottom: 25px;
}
.footer .sub-footer {
  font-size: 1.1em;
}

.about {
  background-color: #e8edf3;
}
.about p {
  max-width: 40em;
  margin: 0 auto;
  text-align: center;
  font-size: 21px;
  line-height: 2;
  color: #292C31;
}
@media screen and (max-width: 833px) {
  .about p {
    max-width: 34em;
    font-size: 19px;
  }
}

.techs {
  background-color: #e6cf8b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.techs .wrapper--large {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: baseline;
      -ms-flex-line-pack: baseline;
          align-content: baseline;
  width: 100%;
}
.techs .wrapper--large .techs__logo {
  width: 32%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.techs .wrapper--large .techs__logo figure.html5 svg {
  width: 170px;
}
.techs .wrapper--large .techs__logo figure.sass svg {
  width: 250px;
}
.techs .wrapper--large .techs__logo figure.gulpJS svg {
  width: 140px;
  height: auto;
}
.techs .wrapper--large .techs__logo figcaption {
  display: none;
}
@media screen and (max-width: 1226px) {
  .techs .wrapper--large {
    max-width: 63em;
  }
  .techs .wrapper--large .techs__logo figure.html5 svg {
    width: 150px;
  }
  .techs .wrapper--large .techs__logo figure.sass svg {
    width: 200px;
  }
  .techs .wrapper--large .techs__logo figure.gulpJS svg {
    width: 110px;
    height: auto;
  }
  .techs .wrapper--large + .techs__description {
    max-width: 63em;
    margin: 0;
  }
}
@media screen and (max-width: 910px) {
  .techs .wrapper--large {
    max-width: 48em;
  }
  .techs .wrapper--large + .techs__description {
    max-width: 48em;
    position: relative;
    top: -20px;
  }
  .techs .wrapper--large + .techs__description p {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .techs .wrapper--large {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .techs .wrapper--large .techs__logo {
    width: 50%;
    margin-bottom: 45px;
  }
  .techs .wrapper--large .techs__logo:last-child {
    margin-bottom: 0;
  }
  .techs .wrapper--large .techs__logo figure svg {
    height: auto !important;
  }
  .techs .wrapper--large .techs__logo figcaption {
    display: block;
    margin-top: 35px;
  }
  .techs .wrapper--large + .techs__description {
    display: none;
  }
}
.techs .techs__description {
  margin-top: 25px;
}
.techs .techs__description p {
  width: 30%;
  text-align: center;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  font-size: 17px;
  line-height: 1.45;
  color: #22264B;
  font-weight: 600;
}

.features {
  background-color: #e8edf3;
}
.features .features__container {
  max-width: 60em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.features .features__container figure {
  width: 48%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.features .features__container figure svg {
  margin-right: 1.2em;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  height: 40px;
  width: 40px;
}
.features .features__container figure figcaption {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #292C31;
}
.features .features__container figure figcaption strong {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
}
@media screen and (max-width: 910px) {
  .features .features__container {
    max-width: 50em;
  }
}
@media screen and (max-width: 768px) {
  .features .features__container {
    max-width: 42em;
  }
}

.setup {
  background-color: #B56969;
  color: #fff;
  text-align: center;
}
.setup h3 {
  font-size: 2.3em;
}
.setup .wrapper {
  margin-top: 40px;
}
.setup .wrapper .code-editor {
  max-width: 730px;
  height: 390px;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .setup .wrapper .code-editor {
    max-width: 90%;
  }
}
.setup .wrapper .code-editor .menu-bar {
  background-color: #FAFAFA;
  padding: 5px 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.setup .wrapper .code-editor .menu-bar .command-buttons span {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
}
.setup .wrapper .code-editor .menu-bar .command-buttons .red {
  background-color: #F15A58;
}
.setup .wrapper .code-editor .menu-bar .command-buttons .yellow {
  background-color: #F6E584;
}
.setup .wrapper .code-editor .menu-bar .command-buttons .green {
  background-color: #85C98A;
}
.setup .wrapper .code-editor .menu-bar .title {
  font-weight: 400;
}

.share {
  background-color: #e8edf3;
}
.share .wrapper--xtra-slim {
  text-align: center;
}
.share .wrapper--xtra-slim a {
  margin-right: 25px;
}
.share .wrapper--xtra-slim a svg {
  height: 55px;
  width: 55px;
}
.share .wrapper--xtra-slim a:hover {
  -webkit-animation: wobble .6s ease-out both;
  animation: wobble .6s ease-out both;
}
.share .wrapper--xtra-slim a:last-child {
  margin: 0;
}
.share .wrapper--xtra-slim a.facebook svg path {
  fill: #3B539A;
}
.share .wrapper--xtra-slim a.twitter svg path {
  fill: #00ACED;
}
.share .wrapper--xtra-slim a.github svg path {
  fill: #161414;
}
.share .wrapper--xtra-slim p {
  margin-top: 25px;
}
