// About Section
.about

   background-color: $light-gray
    
   .fade-in-up
      animation-duration: .45s



   p
      max-width: 40em
      margin: 0 auto
      text-align: center
      font-size: 21px
      line-height: 2
      color: #292C31

   +media(max-width 833px)

      p
         max-width: 34em
         font-size: 19px

   +media(max-width 678px)

      p
         max-width: 31em
         font-size: 18px

   +media(max-width 527px)

      p
         max-width: 90%
         font-size: 17px
