// Features section
.features

   background-color: $light-gray

   .features__container

      max-width: 60em
      display: flex
      align-items: center
      justify-content: space-between
      flex-wrap: wrap

      figure
         width: 48%
         margin-bottom: 30px
         display: flex
         align-items: flex-start

         svg
            margin-right: 1.2em
            align-self: center
            +size(40px)

         figcaption
            flex: 1
            color: #292C31
            strong
               display: block
               margin-bottom: 6px
               font-size: 18px

      +media(max-width 910px)

         max-width: 50em

      +media(max-width 768px)

         max-width: 42em

      +media(max-width 678px)
         flex-direction: column
         width: 90%

         figure
            width: 100%
