// Technologies section
.techs

   background-color: $yellow
   display: flex
   flex-direction: column
   justify-content: center
   align-items: center

   // Wrapper
   .wrapper--large

      display: flex
      justify-content: space-between
      align-items: center
      align-content: baseline
      width: 100%

      .techs__logo

         width: 32%
         text-align: center
         display: flex
         flex-direction: column
         align-items: center

         figure
            width: 140px
            min-height: 335px
            position: relative


            &.sass
               width: 190px


            svg
               width: 100% !important
               height: auto !important
               position: absolute
               top: 50%
               left: 50%
               transform: translate(-50%, -50%)

         figcaption
            display: block
            @extend %caption
            width: 100%


      // Tablet(ish) Media Query
      +media(max-width 910px)
         max-width: 48em

         .techs__logo

            figure.gulpJS

               width: 120px

            figcaption

               font-size: 15px


      // Defo Tablet
      +media(max-width 768px)

         flex-direction: column

         .techs__logo

            width: 50%
            margin-bottom: 45px

            &:last-child
               margin-bottom: 0


            figure
               &.html5

                  width: 170px

               &.sass
                  width: 260px

      // Semi Mobile
      +media(max-width 527px)

         .techs__logo
            width: 70%


   // Tech description

   .techs__description

      margin-top: 25px
      display: none

      p
         @extend %caption
