// Technologies section
.techs

   background-color: $yellow
   display: flex
   flex-direction: column
   justify-content: center
   align-items: center

   // Wrapper
   .wrapper--large

      display: flex
      justify-content: space-between
      align-items: center
      align-content: baseline
      width: 100%

      .techs__logo

         width: 32%
         text-align: center
         display: flex
         flex-direction: column

         figure

            &.html5

               svg
                  width: 170px

            &.sass

               svg
                  width: 250px

            &.gulpJS

               svg
                  width: 140px
                  height: auto

         figcaption
            display: none
            @extend %caption

      // Normal Desktop Media Query

      +media(max-width 1226px)
         max-width: 63em

         .techs__logo figure
            // play around with the widths of the icons
            &.html5

               svg
                  width: 150px

            &.sass

               svg
                  width: 200px

            &.gulpJS

               svg
                  width: 110px
                  height: auto

         & + .techs__description

            max-width: 63em
            margin: 0

      // Tablet(ish) Media Query
      +media(max-width 910px)
         max-width: 48em

         & + .techs__description

            max-width: 48em
            position: relative
            top: -20px

            p

               font-size: 15px

      // Defo Tablet
      +media(max-width 768px)

         flex-direction: column

         .techs__logo

            width: 50%
            margin-bottom: 45px

            &:last-child
               margin-bottom: 0

            figure svg
               height: auto !important

            figcaption
               display: block
               margin-top: 35px
               width: 100%



         & + .techs__description
            display: none

      // Semi Mobile
      +media(max-width 527px)

         .techs__logo
            width: 70%


   // Tech description

   .techs__description

      margin-top: 25px

      p
         @extend %caption
