section.about

   p Milky is an opinionated boilerplate built for the modern web developer. It is based on the latest technologies and will help you improve your workflow. It comes packed with some pretty neat features and a build process to avoid repetitive tasks so you can focus on your code. 
