section.features

   .wrapper.features__container
      
      figure.feature
         
         include ../../../assets/img/html5.svg
         
         figcaption      
            strong Jade Compiling
            |  Pour-over shabby chic flannel swag next level Pinterest. Yr actually
   
      figure.feature
         
         include ../../../assets/img/mobile.svg
         
         figcaption   
            strong Bourbon and Neat Grid
            | gastropub selfies Carles ethical migas Portland PBR kale chips normcore occupy VHS Trust fund Neutra cray authentic.
               
      figure.feature
         
         include ../../../assets/img/chrome-2.svg
         
         figcaption
            strong Browser-Sync
            | Selvage cardigan Thundercats, lo-fi cray flexitarian cornhole sartorial.
      
      figure.feature
         
         include ../../../assets/img/file-zip.svg
         
         figcaption
            strong JS and CSS concatenation
            | Selvage keytar ennui gentrify Pitchfork. Pitchfork skateboard master cleanse, sartorial art party retro.
         
      figure.feature
         
         include ../../../assets/img/file-picture.svg
         
         figcaption
            strong Image Minification 
            | Butcher squid four loko cardigan, heirloom tilde Pinterest. Selvage Blue
             
      figure.feature
         
         include ../../../assets/img/css3.svg
         
         figcaption
            strong Auto Prefixing 
            | Odd Future pug church-key Pitchfork, Brooklyn meh Tumblr chia. Ethical normcore disrupt occupy next level heirloom.
