section.features

   .wrapper.features__container
      
      figure.feature
         
         include ../../../assets/img/html5.svg
         
         figcaption      
            strong Jade Compiling
            | Code beautiful and modular markup using this super fast template engine
   
      figure.feature
         
         include ../../../assets/img/mobile.svg
         
         figcaption   
            strong Bourbon and Neat Grid
            | Create responsive grid layouts for your site and keep your markup semantic by using Neat and Bourbon.
               
      figure.feature
         
         include ../../../assets/img/chrome.svg
         
         figcaption
            strong Browser-Sync
            | Live browser reload and code injection on multiple devices at the same time
      
      figure.feature
         
         include ../../../assets/img/file-zip.svg
         
         figcaption
            strong JS and CSS concatenation
            | Improve your website's performance by minifiying and concatenating your styles and scripts
         
      figure.feature
         
         include ../../../assets/img/image.svg
         
         figcaption
            strong Image Minification 
            | Compress your website's images to help increase loading times and overall performance. 
             
      figure.feature
         
         include ../../../assets/img/css3.svg
         
         figcaption
            strong Auto Prefixing 
            | Never worry about adding prefixes to your styles again. Auto Prefixer takes care of the job and is always up-to-date.
