section.features

   .wrapper.features__container
      
      figure.feature.reveal
         
         include ../svg/html5.svg
         
         figcaption      
            strong Jade Compiling
            |  Pour-over shabby chic flannel swag next level Pinterest. Yr actually
   
      figure.feature.reveal
         
         include ../svg/mobile.svg
         
         figcaption   
            strong Bourbon and Neat Grid
            | gastropub selfies Carles ethical migas Portland PBR kale chips normcore occupy VHS Trust fund Neutra cray authentic.
               
      figure.feature.reveal
      
         include ../svg/chrome-2.svg
         
         figcaption
            strong Browser-Sync
            | Selvage cardigan Thundercats, lo-fi cray flexitarian cornhole sartorial.
   
      figure.feature.reveal
         
         include ../svg/file-zip.svg
         
         figcaption
            strong JS and CSS concatenation
            | Selvage keytar ennui gentrify Pitchfork. Pitchfork skateboard master cleanse, sartorial art party retro.
         
      figure.feature.reveal
         
         include ../svg/file-picture.svg
         
         figcaption
            strong Image Minification 
            | Butcher squid four loko cardigan, heirloom tilde Pinterest. Selvage Blue
             
      figure.feature.reveal
            
            include ../svg/css3.svg
            
            figcaption
               strong Auto Prefixing 
               | Odd Future pug church-key Pitchfork, Brooklyn meh Tumblr chia. Ethical normcore disrupt occupy next level heirloom.
