section.features

   .wrapper.features__container
      
      figure.feature.reveal
         
         include ../svg/html5.svg
         
         figcaption      
            strong Jade Compiling
            |  Write your markup in a unique, modular, clean and fun way with Jade.
   
      figure.feature.reveal
         
         include ../svg/mobile.svg
         
         figcaption   
            strong Bourbon and Neat Grid
            | Easily create adaptive and responsive websites using Neat, the sass framework based on Bourbon the famous SASS library.
               
      figure.feature.reveal
      
         include ../svg/chrome-2.svg
         
         figcaption
            strong Browser-Sync
            | Dynamic browser refresh, real time css injection and local server setup with Browser Sync.
   
      figure.feature.reveal
         
         include ../svg/file-zip.svg
         
         figcaption
            strong JS and CSS concatenation
            | Optimize your website's performance by making sure your stylesheets and scripts are minified.
         
      figure.feature.reveal
         
         include ../svg/file-picture.svg
         
         figcaption
            strong Image Minification 
            | Minify your images and icons to make your website as fast as possible.
             
      figure.feature.reveal
            
            include ../svg/css3.svg
            
            figcaption
               strong Auto Prefixing 
               | Milky comes pre-loaded with Auto-prefixer so you won't have to worry about cross browser issues.
