header.header
   
   .wrapper 
      
      h1.mainTitle.fade-in-up Look ! This is Milky
      h2.strapline.fade-in-up A front-end boilerplate for modern projects.
      
      div.buttons
         a.downloadBtn.fade-in-left(href='#') 
            span.text Download
            span.cta.dl 
               include ../svg/cloud.svg
            
         a.viewOnSite.fade-in-right(href='#') 
            span.text View on Github
            span.cta
               include ../svg/github.svg
