header.header
   
   .wrapper 
      
      h1.mainTitle Boo ! Lorem Ipsum
      h2.strapline A front-end boilerplate for modern projects.
      
      div.buttons
         a.downloadBtn(href='#') 
            span.text Download
            span.cta.dl 
               include ../svg/cloud.svg
            
         a.viewOnSite(href='#') 
            span.text View on Github
            span.cta
               include ../svg/github.svg
