header.header
   
   .wrapper 
      
      h1.mainTitle Look ! This is Milky
      h2.strapline A front-end boilerplate for modern projects.
      
      div.buttons
         a.downloadBtn(href='#') 
            span.text Download
            span.cta.dl 
               include ../../../assets/img/cloud.svg
            
         a.viewOnSite(href='#') 
            span.text View on Github
            span.cta
               include ../../../assets/img/github.svg
