section.setup

   h3.setup__header Setup 

   .wrapper
      
      // The code editor
      .code-editor
            
         // menu bar
         .menu-bar
         
            .command-buttons
               span.red
               span.yellow
               span.green
            
            h4.title Step 1 : Do Something with the code.
         
         // Code goes here
         pre.language-sass
            
            div
               code.language-sass p {color: red};
               code.language-sass a {text-decoration: none};
            
            div
                     
               code.language-javascript 
                  | function(){ return false; }
               code.language-javascript strong {text-align: left};
