section.setup

   h3.setup__header Setup 

   .wrapper
      
      // The code editor
      .code-editor
            
         // menu bar
         .menu-bar
         
            .command-buttons
               span.red
               span.yellow
               span.green
            
            h4.title Step 1 : clone the repo.
         
         // Code goes here
         div.setup__code
         
            pre.step-1
               code git clone git@github.com:MilkshakePanda/Milky.git
               code cd path/to/Milky/dev
               
            pre.step-2
               code sudo npm install
               
            pre.step-3
               code gulp
      
      // navigation buttons 
      .setup__buttons
         
         button(type="button").setup__previous Previous
         button(type="button").setup__next Next
         
         
