section.setup

   h3.setup__header Setup 

   .wrapper
      
      // The code editor
      .code-editor
            
         // menu bar
         .menu-bar
         
            .command-buttons
               span.red
               span.yellow
               span.green
            
            h4.title Step 1 : clone the repo.
         
         // Code goes here
         div.setup__code
         
            pre.step
               code <span>my-computer $</span> git clone git@github.com:MilkshakePanda/Milky.git
               code <span>my-computer $</span> cd path/to/Milky/dev
               
            pre.step.showing
               code <span>my-computer $</span> sudo npm install
               
            pre.step
               code <span>my-computer $</span> gulp
      
      // navigation buttons 
      .setup__buttons
         
         button(type="button").setup__previous 
            span Previous
         button(type="button").setup__next 
            span Next
         
         
