section.setup.bicot

   h3.setup__header Setup 

   .wrapper
      
      // The code editor
      .code-editor
            
         // menu bar
         .menu-bar
         
            .command-buttons
               span.red
               span.yellow
               span.green
            
            h4.setup__title 
         
         // Code goes here
         div.setup__code
         
            pre.step(data-title="Step 1: Clone the repository and navigate to the dev folder", data-step="step-one")
               code <span>my-computer $</span> git clone git@github.com:MilkshakePanda/Milky.git
               code <span>my-computer $</span> cd path/to/Milky/dev
               
            pre.step(data-title="Step 2: Install the dependencies", data-step="step-two")
               code <span>my-computer $</span> sudo npm install
               
            pre.step(data-title="Step 3: Run gulp and let the magic happen!", data-step="step-three")
               code <span>my-computer $</span> gulp
      
      // navigation buttons 
      .setup__buttons
         
         button(type="button").setup__previous 
            span Previous
         button(type="button").setup__next 
            span Next
         
         
