section.setup

   h3 Setup 

   .wrapper
      
      // The code editor
      .code-editor
            
         // menu bar
         .menu-bar
         
            .command-buttons
               span.red
               span.yellow
               span.green
            
            h4.title Step 1 : Do Something with the code.
         
         // Code goes here
         pre.code-container.css
                        
            code.language-css p {color: red};
            code.language-css a {text-decoration: none};
      
         pre.javascript
                        
            code.language-javascript 
               | function(){ return false; }
            code.language-javascript strong {text-align: left};
