section.share
   
   .wrapper--xtra-slim
      
      a(href="#" class='facebook')
         include ../../../assets/img/facebook3.svg
      a(href="#" class='twitter')
         include ../../../assets/img/twitter3.svg
      a(href="#" class='github')
         include ../../../assets/img/github.svg
