section.share
   
   .wrapper--xtra-slim
      
      a(href="#" class='facebook')
         //- include ../../../assets/img/facebook.svg
      a(href="#" class='twitter')
         //- include ../../../assets/img/twitter.svg
      a(href="#" class='github')
         //- include ../../../assets/img/github4.svg
      
      p
         | Once Live, add the share links
