section.share
   
   .wrapper--xtra-slim
      
      a(href="#" class='facebook')
         include ../svg/facebook3.svg
      a(href="#" class='twitter')
         include ../svg/twitter3.svg
      a(href="#" class='github')
         include ../svg/github.svg
