section.techs

   .wrapper--large
      
      .techs__logo
         figure.caption.html5
            
            include ../../../assets/img/html-5.svg
            
         figcaption skateboard asymmetrical try-hard Bushwick shabby chic. Hella gentrify McSweeney's typewriter Intelligentsia lo-fi.
                  
      .techs__logo
         figure.caption.sass
         
            include ../../../assets/img/sass.svg
         
         figcaption skateboard asymmetrical try-hard Bushwick shabby chic. Hella gentrify McSweeney's typewriter Intelligentsia lo-fi.

      .techs__logo
         figure.caption.gulpJS
         
            include ../../../assets/img/gulp.svg
            
         figcaption skateboard asymmetrical try-hard Bushwick shabby chic. Hella gentrify McSweeney's typewriter Intelligentsia lo-fi.
