section.techs

   .wrapper--large
      
      .techs__logo.reveal
         figure.caption.html5
            
            include ../svg/html-5.svg
            
         figcaption Milky is HTML5 ready. Write clean, semantic, accessible and seo friendly markup. The way you want.
                  
      .techs__logo.reveal
         figure.caption.sass
         
            include ../svg/sass.svg
         
         figcaption Give style to your projects by writing highly maintainable stylesheets. Milky comes with sass out of the box.

      .techs__logo.reveal
         figure.caption.gulpJS
         
            include ../svg/gulp.svg
            
         figcaption Save time and focus on what matters. Minify, concatenate, and compile your projects files with Gulp. 
