section.techs

   .wrapper--large
      
      .techs__logo
         figure.caption.html5
            
            include ../../../assets/img/html-5.svg
                  
      .techs__logo
         figure.caption.sass
         
            include ../../../assets/img/sass.svg

      .techs__logo
         figure.caption.gulpJS
         
            include ../../../assets/img/gulp.svg

      
   .wrapper--large.techs__description
      
      p skateboard asymmetrical try-hard Bushwick shabby chic. Hella gentrify McSweeney's typewriter Intelligentsia lo-fi.
      
      p Blue Bottle umami Pitchfork next level. Blog YOLO meditation tousled, scenester four dollar toast try-hard.
      
      p hella fixie Williamsburg Vice fanny pack leggings squid four loko cornhole put a bird on it 8-bit. Wolf iPhone hoodie Neutra listicle.
