section.techs

   .wrapper--large
      
      .techs__logo.reveal
         figure.caption.html5
            
            include ../svg/html-5.svg
            
         figcaption skateboard asymmetrical try-hard Bushwick shabby chic. Hella gentrify McSweeney's typewriter Intelligentsia lo-fi.
                  
      .techs__logo.reveal
         figure.caption.sass
         
            include ../svg/sass.svg
         
         figcaption skateboard asymmetrical try-hard Bushwick shabby chic. Hella gentrify McSweeney's typewriter Intelligentsia lo-fi.

      .techs__logo.reveal
         figure.caption.gulpJS
         
            include ../svg/gulp.svg
            
         figcaption skateboard asymmetrical try-hard Bushwick shabby chic. Hella gentrify McSweeney's typewriter Intelligentsia lo-fi.
