section.techs

   .wrapper--large
      
      .techs__logo
         figure.caption.html5
            
            //- include ../../../assets/img/html-5.svg
                  
      .techs__logo
         figure.caption.sass
         
            //- include ../../../assets/img/sass.svg

      .techs__logo
         figure.caption.gulpJS
         
            //- include ../../../assets/img/gulp.svg

      
   .wrapper--large.techs__description
      
      p Milky is Html5 ready, which means you can start creating fully semantic, accessible markup for your websites
      
      p Milky is SASS powered, using indented syntax. Sorry, no Scss ! It also comes with Bourbon and the Neat grid system.
      
      p Insant browser refresh, Jade and Sass compiling, Image, JS/CSS minification and autoprefixing are all taken care of by this super fast Build tool. 
